body {
    background-color: #F7CB15;
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
}

.head {
    display: flex;
    justify-content: center;
    align-content: center;
}

.two {
    color: #C4302B;
}

.tube {
    color: #4EBBFF;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
}

h2 {
    display: flex;
    justify-content: center;
    align-content: center;
}

form {
    font-family: 'Merriweather', serif;
}

.click {
    font-family: 'Pacifico', cursive;
    color: #FFFFFF;
}

.searchBar {
    width: 100%;
    height: 10vh;
}

.search,
.btn-div {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn {
    border: 0;
    background: #0087cc;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin: 10px;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
}

.btn:active {
    box-shadow: 0 2px 0 #006599;
    transform: translateY(3px);
}

.iframe-y {
    border: solid;
}

.iframe-y > iframe {
    border: 3px solid #c4302b;
}

p {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
}

.iframe-v {
    border: solid;
    border-color: #4EBBFF;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*
@media screen and (min-width:480px) and (min-width:900px) {
    .iframe-v {
        display: table-column;
    }
    .iframe-y {
        display: table-column;
    }
}
