body {
    background-color: rgb(255, 205, 5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
}

.head {
    display: flex;
    justify-content: center;
    align-content: center;
}
.two {
    color: #C4302B;
    text-shadow: 2px 2px #000000;    
}

.tube {
    color: #4EBBFF;
    text-shadow: 2px 2px #000000;    
}
.desc {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #2E3532;
}
.youtube {
    color: #C4302B;
}
.vimeo {
    color: #4EBBFF;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
}

h2 {
    font-family: 'Merriweather', serif;
    color: #2E3532;
}

h3 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Merriweather', serif;
    color: #2E3532;
    font-size: 20px;
    padding-top: 40px;
    text-transform: uppercase;
}

form {
    font-family: 'Merriweather', serif;
}

.click {
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    color: #ffffff;
    text-shadow: 2px 2px #000000;    
    display: flex;
    justify-content: center;
    align-content: center;
}

.searchBar {
    width: 90vw;
    height: 10vh;
    border-radius: 15px;
    font-size: 22px;
    padding-left: 20px;
}

.search,
.btn-div {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn {
    border: 0;
    background: #0087cc;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin: 10px;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
}

.btn:active {
    box-shadow: 0 2px 0 #006599;
    transform: translateY(3px);
}

.results {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    border: solid;
}

.iframe-y {
    border: solid;
    padding-top: 0px;
    width: 70vw;
    height: 30vh;
}

.iframe-v {
    border: solid;
    padding-top: 0px;
    width: 70vw;
    height: 30vh;
}
.y-video {
    border: solid;
    border-color: #C4302B;
}

.v-video {
    border: solid;
    background-color: #4EBBFF;
}

p {
    font-size: 16px;
    font-family: 'Acme', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: capitalize;
}

a {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 18px;
}


.iframe-container {
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* >>>>>iPad mini 1, iPad 1 and iPad 2 (w/ landscape) <<<<< */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2)  {  
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 95vh;
    }    
    .landingDiv {
        width: 100%;
    }
    .searchBar {
        width: 90vw;
        height: 8vh;
        border-radius: 15px;
        font-size: 26px;
        padding-left: 20px;
    }
    .desc {
        display: flex;
        justify-content: center;
        align-content: center;
        color: #2E3532;
    }
    .youtube {
        color: #C4302B;
    }
    .vimeo {
        color: #4EBBFF;
    }
    
    .click {
        font-family: 'Pacifico', cursive;
        font-size: 45px;
        color: #ffffff;
        text-shadow: 2px 2px #000000;    
        display: flex;
        justify-content: center;
        align-content: center;
    }
    h1 {
        font-size: 120px;
    }
    .search {
        padding-top: 0px;
    }
    .searchBar {
        width: 50vw;
    }
    .resultsDiv {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
    .iframe-y {
        border: solid;
        padding-top: 0px;
        width: 25vw;
        height: 20vh;
    }
    
    .iframe-v {
        border: solid;
        padding-top: 0px;
        width: 30vw;
        height: 20vh;
    }
        iframe {
        border: none;
    }

  }

/* >>>>> Ipad Pro (w/ landscape) <<<<< */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2)    {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 95vh;
    }    
    .landingDiv {
        width: 100%;
    }
    .searchBar {
        width: 90vw;
        height: 8vh;
        border-radius: 15px;
        font-size: 28px;
        padding-left: 20px;
    }
    .desc {
        display: flex;
        justify-content: center;
        align-content: center;
        color: #2E3532;
    }
    .youtube {
        color: #C4302B;
    }
    .vimeo {
        color: #4EBBFF;
    }
    
    .click {
        font-family: 'Pacifico', cursive;
        font-size: 45px;
        color: #ffffff;
        text-shadow: 2px 2px #000000;    
        display: flex;
        justify-content: center;
        align-content: center;
    }
    h1 {
        font-size: 200px;
    }
    .searchBar {
        width: 50vw;
    }
    .resultsDiv {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
    .iframe-y {
        border: solid;
        padding-top: 0px;
        width: 250px;
        height: 300px;
    }
    
    .iframe-v {
        border: solid;
        padding-top: 0px;
        width: 290px;
        height: 270px;
    }
        iframe {
        border: none;
    }
}

/* >>>>> Desktop & Laptop <<<<< */
@media only screen  
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 95vh;
    }    
    .landingDiv {
        width: 100%;
    }
    .searchBar {
        width: 90vw;
        height: 10vh;
        border-radius: 15px;
        font-size: 22px;
        padding-left: 20px;
    }
    .desc {
        display: flex;
        justify-content: center;
        align-content: center;
        color: #2E3532;
    }
    .youtube {
        color: #C4302B;
    }
    .vimeo {
        color: #4EBBFF;
    }
    
    .click {
        font-family: 'Pacifico', cursive;
        font-size: 45px;
        color: #ffffff;
        text-shadow: 2px 2px #000000;    
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .searchBar {
        width: 50vw;
    }
    .resultsDiv {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
    .iframe-y {
        border: solid;
        padding-top: 0px;
        width: 25vw;
        height: 30vh;
    }
    
    .iframe-v {
        border: solid;
        padding-top: 0px;
        width: 25vw;
        height: 30vh;
    }
    iframe {
        border: none;
    }
  }
